nameOverride: ""
fullnameOverride: ""

database:
  url: "" # postgres://airbroke:airbroke@airbroke-pgbouncer/airbroke_production?connection_limit=100&pool_timeout=10&application_name=nextjs&schema=public
  migrations_url: "" # postgres://airbroke:airbroke@pg/airbroke_production?schema=public
  enable_migration: true

web:
  imagePullPolicy: IfNotPresent
  imagePullSecrets: "" # must be present in namespace
  image: ghcr.io/icoretech/airbroke:1.1.70
  terminationGracePeriodSeconds: 0
  replicaCount: 1

  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  # not sure about the usefulness of this - we are trying to solve some caching issues with next.js
  # so this should be considered experimental.
  cachePersistentVolume:
    enabled: false # If set to true, a PersistentVolumeClaim (PVC) will be created for caching
    storageClass: "" # The storage class to use for the PVC. If not set, the default StorageClass will be used
    existingClaim: "" # If set, this existing PVC will be used instead of creating a new one
    accessModes:
      - ReadWriteOnce # The access modes for the PVC. Can be ReadWriteOnce, ReadOnlyMany, or ReadWriteMany. If cachePersistentVolume is enabled and replicaCount is more than 1, this should be set to ReadWriteMany
    annotations: {} # Annotations to add to the PVC
    size: 1Gi # The requested storage size for the PVC
    volumeMode: "" # The volume mode for the PVC. Can be either "Filesystem" (default) or "Block"
    mountPath: /app/.next/cache # The path to mount the volume in the container

  hpa:
    enabled: false
    maxReplicas: 10
    # average total CPU usage per pod (1-100)
    cpu:
    # average memory usage per pod (100Mi-1Gi)
    memory:
    # average http requests per second per pod (k8s-prometheus-adapter)
    requests:

  ingress:
    enabled: false
    ingressClassName: nginx
    annotations: {}
    hosts: []
    tls: []

  service:
    enabled: true
    type: ClusterIP
    port: 3000
    # nodePort: 31198
    annotations: {}

  livenessProbe:
    enabled: true
    httpGet:
      endpoint: /api/hc?source=livenessProbe
      httpHeaders: []
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 2
    successThreshold: 1
  readinessProbe:
    enabled: true
    httpGet:
      endpoint: /api/hc?source=readinessProbe
      httpHeaders: []
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 2
    successThreshold: 1

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

  extraEnvs: []
  # extraEnvs:
  #   - name: AIRBROKE_GITHUB_ID
  #     value: "xxxx"
  #   - name: AIRBROKE_GITHUB_SECRET
  #     value: "xxxxx"
  #   - name: AIRBROKE_GITHUB_ORGS
  #     value: "xxxxx"
  #   - name: NEXTAUTH_SECRET
  #     value: "xxxxxxx"
  #   - name: NEXTAUTH_URL
  #     value: "https://xxxxxx"
  #   - name: AIRBROKE_OPENAI_API_KEY
  #     value: "sk-xxxxxxx"

pgbouncer:
  enabled: false
  config:
    adminPassword: airbroke
    databases:
      airbroke_production:
        host: postgres-postgresql.postgres.svc.cluster.local
        port: 5432
    pgbouncer:
      # max_client_conn: 500
      ignore_startup_parameters: extra_float_digits
      pool_mode: transaction
      auth_type: scram-sha-256
      max_client_conn: 8192
      max_db_connections: 200
      default_pool_size: 100
      log_connections: 1
      log_disconnections: 1
      log_pooler_errors: 1
      application_name_add_host: 1
      # verbose: 1
    userlist:
      # SELECT rolname, rolpassword FROM pg_authid WHERE rolname = 'airbroke_production';
      airbroke_production: SCRAM-SHA-256$xxxxxx=
