apiVersion: v1
kind: Secret
metadata:
  name: {{ template "app.web-env.name" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  {{- $secretEnv := dict -}}

  {{- /* Back-compat: extraEnvs is a list of {name,value}. */ -}}
  {{- if kindIs "slice" .Values.web.extraEnvs -}}
  {{- range $_, $item := .Values.web.extraEnvs -}}
  {{- $name := (default "" $item.name) | toString -}}
  {{- if $name -}}
  {{- $_ := set $secretEnv ($name | upper | replace "-" "_") (($item.value | toString)) -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}

  {{- /* New: secretEnv is a map of env var name => value. */ -}}
  {{- if kindIs "map" .Values.web.secretEnv -}}
  {{- range $k, $v := .Values.web.secretEnv -}}
  {{- $_ := set $secretEnv (($k | toString) | upper | replace "-" "_") ($v | toString) -}}
  {{- end -}}
  {{- end -}}

  {{- range $k, $v := $secretEnv }}
  {{ $k }}: {{ $v | b64enc | quote }}
  {{- end }}
